In [25]:
# Import necessary libraries
import pandas as pd
import numpy as np
import os

# Print the current working directory
print("Current Working Directory:", os.getcwd())

# Load the dataset from a CSV file
df = pd.read_csv("./StockMarketDataset.csv")

# Display the first 5 rows of the DataFrame
print("First 5 rows of the dataset:")
print(df.head())

Current Working Directory: /Users/gjbaptiste/Dev/Repos/Playground/Python
First 5 rows of the dataset:
   Unnamed: 0        Date  Natural_Gas_Price  Natural_Gas_Vol.  \
0           0  02-02-2024              2.079               NaN
1           1  01-02-2024              2.050          161340.0
2           2  31-01-2024              2.100          142860.0
3           3  30-01-2024              2.077          139750.0
4           4  29-01-2024              2.490            3590.0

   Crude_oil_Price  Crude_oil_Vol.  Copper_Price  Copper_Vol. Bitcoin_Price  \
0            72.28             NaN        3.8215          NaN     43,194.70
1            73.82        577940.0        3.8535          NaN     43,081.40
2            75.85        344490.0        3.9060          NaN     42,580.50
3            77.82        347240.0        3.9110          NaN     42,946.20
4            76.78        331930.0        3.8790          NaN     43,299.80

   Bitcoin_Vol.  ... Berkshire_Price  Berkshire_Vol. Netflix_Price  \
0       42650.0  ...        5,89,498         10580.0        564.64
1       47690.0  ...        5,81,600          9780.0        567.51
2       56480.0  ...        5,78,020          9720.0        564.11
3       55130.0  ...        5,84,680          9750.0        562.85
4       45230.0  ...        5,78,800         13850.0        575.79

   Netflix_Vol. Amazon_Price  Amazon_Vol.  Meta_Price   Meta_Vol.  Gold_Price  \
0     4030000.0       171.81  117220000.0      474.99  84710000.0    2,053.70
1     3150000.0       159.28   66360000.0      394.78  25140000.0    2,071.10
2     4830000.0       155.20   49690000.0      390.14  20010000.0    2,067.40
3     6120000.0       159.00   42290000.0      400.06  18610000.0    2,050.90
4     6880000.0       161.26   42840000.0      401.02  17790000.0    2,034.90

   Gold_Vol.
0        NaN
1   260920.0
2   238370.0
3   214590.0
4     1780.0

[5 rows x 39 columns]

In [26]:
# Lists all the columns
print(df.columns.tolist())

['Unnamed: 0', 'Date', 'Natural_Gas_Price', 'Natural_Gas_Vol.', 'Crude_oil_Price', 'Crude_oil_Vol.', 'Copper_Price', 'Copper_Vol.', 'Bitcoin_Price', 'Bitcoin_Vol.', 'Platinum_Price', 'Platinum_Vol.', 'Ethereum_Price', 'Ethereum_Vol.', 'S&P_500_Price', 'Nasdaq_100_Price', 'Nasdaq_100_Vol.', 'Apple_Price', 'Apple_Vol.', 'Tesla_Price', 'Tesla_Vol.', 'Microsoft_Price', 'Microsoft_Vol.', 'Silver_Price', 'Silver_Vol.', 'Google_Price', 'Google_Vol.', 'Nvidia_Price', 'Nvidia_Vol.', 'Berkshire_Price', 'Berkshire_Vol.', 'Netflix_Price', 'Netflix_Vol.', 'Amazon_Price', 'Amazon_Vol.', 'Meta_Price', 'Meta_Vol.', 'Gold_Price', 'Gold_Vol.']

In [28]:
# Checks for missing (null/NaN) values in a DataFrame (df), returns count of null values in each column
# Example: 

#Returns the count of null values in each column
df.isnull().sum()

Unnamed: 0             0
Date                   0
Natural_Gas_Price      0
Natural_Gas_Vol.       4
Crude_oil_Price        0
Crude_oil_Vol.        23
Copper_Price           0
Copper_Vol.           37
Bitcoin_Price          0
Bitcoin_Vol.           0
Platinum_Price         0
Platinum_Vol.        607
Ethereum_Price         0
Ethereum_Vol.          0
S&P_500_Price          0
Nasdaq_100_Price       0
Nasdaq_100_Vol.        1
Apple_Price            0
Apple_Vol.             0
Tesla_Price            0
Tesla_Vol.             0
Microsoft_Price        0
Microsoft_Vol.         0
Silver_Price           0
Silver_Vol.           47
Google_Price           0
Google_Vol.            0
Nvidia_Price           0
Nvidia_Vol.            0
Berkshire_Price        0
Berkshire_Vol.         0
Netflix_Price          0
Netflix_Vol.           0
Amazon_Price           0
Amazon_Vol.            0
Meta_Price             0
Meta_Vol.              0
Gold_Price             0
Gold_Vol.              2
dtype: int64

In [13]:
df.describe()

,Unnamed: 0,Natural_Gas_Price,Natural_Gas_Vol.,Crude_oil_Price,Crude_oil_Vol.,Copper_Price,Copper_Vol.,Bitcoin_Vol.,Platinum_Vol.,Ethereum_Vol.,...,Nvidia_Price,Nvidia_Vol.,Berkshire_Vol.,Netflix_Price,Netflix_Vol.,Amazon_Price,Amazon_Vol.,Meta_Price,Meta_Vol.,Gold_Vol.
count,1243.000000,1243.000000,1239.000000,1243.000000,1.220000e+03,1243.000000,1206.000000,1.243000e+03,636.000000,1.243000e+03,...,1243.000000,1.243000e+03,1243.000000,1243.000000,1.243000e+03,1243.000000,1.243000e+03,1243.000000,1.243000e+03,1241.000000
mean,621.000000,3.494714,131624.116223,67.577064,3.989038e+05,3.541957,35406.616915,4.033918e+07,9082.515723,1.801563e+07,...,187.285841,4.560298e+07,2426.524537,404.839541,7.057401e+06,128.683234,7.413005e+07,239.728134,2.325851e+07,211127.671233
std,358.967501,1.822540,64385.141749,20.465500,2.161619e+05,0.702819,38415.448731,2.940889e+08,8876.538587,1.326933e+08,...,134.679941,1.869107e+07,2660.497572,114.989473,6.384187e+06,30.808631,3.245753e+07,71.015427,1.555486e+07,115006.351292
min,0.000000,1.482000,1200.000000,-37.630000,1.702000e+04,2.100500,10.000000,2.600000e+02,0.000000,7.518000e+04,...,33.450000,9.790000e+06,80.000000,166.370000,1.140000e+06,79.410000,1.763000e+07,88.910000,5.470000e+06,0.000000
25%,310.500000,2.347500,91900.000000,55.095000,2.835975e+05,2.858750,370.000000,7.907500e+04,1120.000000,5.883600e+05,...,73.905000,3.245000e+07,345.000000,323.010000,3.990000e+06,96.260000,5.264500e+07,183.355000,1.478500e+07,152200.000000
50%,621.000000,2.702000,127370.000000,69.230000,3.668850e+05,3.666000,10180.000000,2.153100e+05,6070.000000,1.570000e+06,...,151.590000,4.279000e+07,1510.000000,384.150000,5.610000e+06,128.730000,6.520000e+07,224.430000,1.934000e+07,197970.000000
75%,931.500000,4.055500,169460.000000,80.455000,5.072425e+05,4.137250,68340.000000,6.151050e+05,15287.500000,9.365000e+06,...,242.140000,5.511500e+07,3225.000000,495.365000,7.910000e+06,158.110000,8.674500e+07,301.650000,2.711500e+07,257920.000000
max,1242.000000,9.647000,381970.000000,123.700000,1.770000e+06,4.937500,176040.000000,4.470000e+09,42830.000000,1.790000e+09,...,661.600000,1.534600e+08,13850.000000,691.690000,1.333900e+08,186.570000,3.113500e+08,474.990000,2.304100e+08,813410.000000

In [22]:
df["Date"] = pd.to_datetime(df["Date"], format="%d-%m-%Y")
df = df.sort_values("Date")
print(df["Date"])

1242   2019-02-04
1241   2019-02-05
1240   2019-02-06
1239   2019-02-07
1238   2019-02-08
          ...
4      2024-01-29
3      2024-01-30
2      2024-01-31
1      2024-02-01
0      2024-02-02
Name: Date, Length: 1243, dtype: datetime64[ns]

In [23]:
df["Apple_Return"] = df["Apple_Price"].pct_change()

In [24]:
print(df["Apple_Price"].pct_change())

1242         NaN
1241    0.017286
1240    0.000230
1239   -0.019054
1238   -0.003042
          ...
4      -0.003586
3      -0.019246
2      -0.019358
1       0.013341
0      -0.005405
Name: Apple_Price, Length: 1243, dtype: float64